<div class="col-md-12">

    <div class="row">
        <h2 id="ecdrive">Product title</h2>
        <p><strong></strong></p>
        <div>
            <h3>Characteristics</h3>
            <table class="table table-striped">
                <tr>
                    <td>item</td>
                    <td>item</td>
                </tr>
                <tr>
                    <td>item</td>
                    <td>item</td>
                </tr>
            </table>
        </div>
    </div>

</div>