<html>
<head>
    <title>Inquiry - {$inquiry->name} ({$inquiry->email})</title>
    <meta charset="utf-8">
</head>
<body>
    <p>
        Description:    {$inquiry->description}<br>
    </p>

    <p>
        Name:   {$inquiry->name}<br>
        Email:    {$inquiry->email}<br>
        Phone: {$inquiry->phone}
    </p>

</body>
</html>
